
@{
    ViewData["Title"] = "AddCategory";
}
@model BlogEngine.Models.category

<h1>Add Category</h1>

<hr>
<div class="container">
    @using (Html.BeginForm("", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-xs-6">
                @Html.LabelFor(model => model.title)
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(model => model.title)
            </div>
        </div>
<div class="row">
    <div class="col-xs-4">
        <input type="submit" value="Save" name="Save" />
    </div>
    <div class="col-xs-8">
        &nbsp;
    </div>
</div>

      
    
    };

</div>
